$primary-color: #FAF8F1;
$secondary-color: #f6f8fa;
$terciary-color: #F9F9F9;
$primary-navy-blue: #2B3A55;

//background
$background-testing-one: #F9F7F1;

// Winter color palette
$winter-palette-alice-blue: #f0f8ff;
$winter-palette-serenity: #b3cee5;
$winter-palette-dodger-blue: #005A9C;

//text
$text-color-one: #8B7576;

//effect
$hover-color-one: #faf8f13b
