@import '_colors';

.comment-container{
    position: relative;
    margin-left: -10px;
    padding: 10px 0px 10px 0px;
    text-align: start;

    .comment-content{
        background-color: white;
        border: 1px solid #d0d7de;
        border-radius: 6px;

        .comment-header{
            display: flex;
            align-items: center;
            padding: 10px;
            color: #57606a;
            font-size: 16px;
            background-color: $winter-palette-serenity;
            border-bottom: 1px solid #d0d7de;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        
            p {
                span {
                    font-weight: 700;
                }
            }
        }

        .comment-main{
            padding: 10px;
            position: relative;
            border-bottom: 1px solid #d0d7de;
        }

        .comment-reply-wrapper{
            position: relative;
            padding: 1.2em;

            .comment-reply-cancel{
                position: absolute;
                top: 0;
                right: 0px;
                color: red
            }

            .comment-reply{
                background: #f0f2f5;
                border-radius: 10px;
                width: 100%;
                padding: .5em;
                display: flex;
                justify-content: space-between;
    
                .comment-reply-input{
                    border: none;
                    outline: none;
                    background: inherit;
                }
            }
        }
    }

}

.reply-container{
    padding: 5px;
    margin: 2% 0% 2% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: $secondary-color;
    border-left: $primary-navy-blue solid 5px;

    .reply-photo{
        display: contents;
        img{
            width: 45px;
            border-radius: 60px;
        }
    }

    .reply-content{
        p{
            padding: 10px 0px;
        }
        width: 80%;
    }
}



