.comments-container{
    position: relative;
    margin-left: 5%;
    width: 70%;
}

.comments-container:before {
    background-color: #d0d7de;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
}