@import '_colors';

.comment-container{
    position: relative;
    margin-left: -10px;
    padding: 10px 0px 10px 0px;
    text-align: start;

    .comment-content{
        background-color: white;
        border: 1px solid #d0d7de;
        border-radius: 6px;

        .comment-header{
            display: flex;
            align-items: center;
            padding: 10px;
            color: #57606a;
            font-size: 16px;
            background-color: $winter-palette-serenity;
            border-bottom: 1px solid #d0d7de;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        
            p {
                span {
                    font-weight: 700;
                }
            }
        }

        .comment-main{
            font-size: 18px;
            padding: 10px;
            position: relative;
            border-bottom: 1px solid #d0d7de;
            margin-bottom: 10px;
        }

        .comment-reply-wrapper{
            position: relative;
            padding: 1.2em;

            .comment-reply-cancel{
                position: absolute;
                top: -5px;
                right: 10px;
                color: red
            }

            .comment-reply{
                background: #f0f2f5;
                border-radius: 10px;
                width: 100%;
                padding: .5em;
                display: flex;
                justify-content: space-between;
    
                .comment-reply-input{
                    border: none;
                    outline: none;
                    background: inherit;
                    width: 100%;
                }
            }
        }
    }

}

.reply-container{
    margin: 0% 3% 2% 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px #d0d7de solid;
    border-bottom-style: dotted;
    flex-direction: column;
    font-size: 18px;

    .reply-photo{

        margin-left: 5%;

        .reply-meta-align{
            text-align: center;
        }

        img{
            width: 25px;
            border-radius: 60px;
        }

        .reply-meta-data{
            font-size: 14px;
            color:#999999;
        }
    }

    .reply-content{
        p{
            padding-bottom: 5px;
        }
        width: 100%;
    }
}



