.comments-container{
    position: relative;
    margin-left: 5%;
    width: 70%;
}

.comment-text{
    background-color: white;
}

.comments-container:before {
    background-color: red;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
}