@import '_colors';

.navbar-container{
    z-index: 100000;
    background-color: $winter-palette-dodger-blue;
    position: relative;
    width: 100%;
    min-height: 40px;
    color: #FFF !important;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;

    .icon-navbar{
        filter: invert(60%) sepia(42%) saturate(30%) hue-rotate(130deg) brightness(99%) contrast(1000%);
        margin-right: 5px;
    }

    a{
        margin-right: 10px;
        text-decoration: none;
        color: #FFF;
        cursor: pointer;
    }

    a:hover{
        color: #bebfc1
    }

    .nav-bar-wrapper{

        .search-input{
            margin-right: 10px;
            position: relative;
        }

        p{
            border: solid gray 1px;
            margin-right: 10px;
        }


    }

}

