.resorts {

    .countries-title{
        border-bottom: 2px solid #e9ecef;
        padding: 5px;
        margin: 15px 0
    }
    
    .resort-container{
        padding: 10px;
        background-color: #EEF2FA;
        margin-right: 10px;
        border-radius: 8px;
    
        a {
            color: #38ABFF;
    
        }
    }
}