.status-main{
    border-radius: 15px;
    padding: 0px;
    margin-left: 10px;
    font-size: 14px;
    width: 80px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.status-open{
    background-color: #00FF00;
}

.status-closed{
    background-color: #ff0000;
}